/** 0. browser upgrade **/
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html.halt body {
    background: black;
}

/** 1. general elements positioning ( M-L-XL size ) **/

.header-container {
    background: #FF9800;
    height: 180px;
}

.main-container {
    position: relative;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;

    margin-left: 50px;

    /*background: azure;*/
}

.column {
    /* day_column_width = 100% / 7 = 14.28% */
    width: 14.28%;
    padding: 0 10px;

    /*background: rgba(0, 255, 255, 0.14);*/
    /*border: 1px solid rgba(76, 175, 80, 0.54);*/

    z-index: 100;
}

table.back-table {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.day-header {
    height: 185px;
    /*background: rgba(255, 192, 203, 0.55);*/
}
    .date-cover {
        height: 99px;
        /*background: aliceblue;*/
        box-sizing: border-box;
        padding-top: 10px;
    }
        .weekday {
            font-size: 16px;
            padding-left: 8px;
            font-weight: 300;
        }
        .date {
            font-size: 58px;
            line-height: 58px;
            padding-left: 7px;
            display: block;
        }
        
    .header-events-cover {
        height: 85px;
        /*background: indianred;*/
    }
        .header-events-cover span {
            color: #fff;
            font-size: 14px;
            line-height: 14px;
            display: block;
            box-sizing: border-box;
            height: 26px;
            margin-bottom: 2px;
            padding: 7px 0 0 9px;
            border-radius: 3px;
        }
        .birthdays {
            background: #33b679;
        }
        .events {
            background: #029ae4;
        }
        span.more-events {
            color: #616161;
        }
        .more-events:hover {
            text-decoration: underline;
        }

.day-body {
    position: relative;
    box-sizing: border-box;
    height: 1368px;
    /*background: rgba(240, 255, 243, 0.6);*/
}
    .event-cover {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 8px;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        background: #029ae4;
    }
        .important {
            background: #f05722;
        }
        .event-cover span {
            display: block;
        }
        .description {

        }
        .time {
            text-transform: uppercase;
        }


/** 1.1 adapt for S size **/

@media screen and (max-width: 767px) {
    .header-container {
        height: 80px;
    }

    main {
        flex-direction: column;
        margin: 0;
    }

    .column {
        width: 100%;
    }

    table.back-table {
        display: none;
    }
}

/** 2. table background layout **/
table.back-table th {
    height: 185px;
    border-left: 1px solid #EEE;
}

table.back-table td {
    height: 28px;
    border-left: 1px solid #EEE;
}

table.back-table tbody tr:nth-child(even) td:nth-child(n+2),
table.back-table th {
    border-bottom: 1px solid #eee;
}

table.back-table tbody tr td:first-child {
    width: 49px;
    position: relative;
}

table.back-table span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -7px;
    text-transform: uppercase;
    color: #757575;
}


/** N. typography **/
body {
    font-family: 'Roboto', sans-serif;
}
table.back-table {
    font-size: 14px;
}

/** N. hardcode events position **/
#event-1 {
    top: 58px;
    height: 55px;
}
#event-2 {
    top: 172px;
    height: 227px;
}
#event-3 {
    top: 146px;
    height: 83px;
}
#event-4 {
    top: 260px;
    height: 113px;
}
#event-5 {
    top: 400px;
    height: 28px;
}
#event-6 {
    top: 172px;
    height: 28px;
}
#event-7 {
    top: 229px;
    height: 83px;
}
#event-8 {
    top: 172px;
    height: 28px;
}
#event-9 {
    top: 286px;
    height: 201px;
}
#event-10 {
    top: 172px;
    height: 56px;
}
#event-11 {
    top: 628px;
    height: 227px;
}
#event-12 {
    top: 571px;
    height: 284px;
}