/** 0. browser upgrade message **/
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html.halt body {
    background: black;
}


/** 1. font  **/
body {
    font-family: 'Roboto', sans-serif;
}
table.back-table {
    font-size: 14px;
}


/** 2. general elements positioning ( M-L-XL size ) **/

/** 2.1 header section and menus **/
.header-container {
    background: #FF9800;
    height: 150px;
    background-image: url("/img/header-background.jpg");
    background-position: center;
    background-size: cover;
}
.header-container header {
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #212121;
}

.control {
    position: absolute;
}

/** drawing burger menu **/
.burger-menu,
.dot-menu {
    width: 1.7em;
    height: 1.7em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .1s;
}
.burger-menu:hover,
.dot-menu:hover,
.control:hover {
    background: rgba(255, 255, 255, 0.35);
}
.burger-menu{
    top: 17px;
    left: 23px;
    padding: 0.45em 0.32em;
    z-index: 200;
}
.burger-icon {
    background-color: currentColor;
    background-clip: content-box;
    padding: 0.25em 0;
    position: relative;
    height: 0.1em;
}
.burger-icon:before,
.burger-icon:after {
    content: ' ';
    position: absolute;
    width: 0.9em;
    height: 0.1em;
    background-color: currentColor;
    transition: all 0.15s;
}
.burger-icon:before {
    top: 0;
}
.burger-icon:after {
    bottom: 0;
}

/** drawing month-picklist **/
.month-picklist {
    left: 89px;
    top: 21px;
    width: 6em;
    height: 1.4em;
    overflow: hidden;
}
.month-picklist select {
    background: transparent;
    font-size: 1em;
    width: 6.5em;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    cursor: pointer;
}
.month-picklist select:active,
.month-picklist select:focus {
    outline: none;
}
.month-picklist span {
    position: absolute;
    right: -5px;
    font-size: 1.4em;
    line-height: 1em;
    top: 3px;
}

/** drawing dot menu **/
.dot-menu {
    right: 8px;
    top: 14px;
}
.dot-icon,
.dot-icon:before,
.dot-icon:after {
    background: currentColor;
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
}
.dot-icon {
    top: 50%;
    transform: translate(-50%, -50%);
}
.dot-icon:before {
    content: ' ';
    top: -0.3em;
    transform: translateX(-50%);
}
.dot-icon:after {
    content: ' ';
    top: 0.3em;
    transform: translateX(-50%);
}

/** sidebar menu and it's checkbox actions ( burger button ) **/
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    background: rgb(0, 0, 0);
    height: 100%;
    width: 40%;
    z-index: 100;
    transition: all .2s;
    padding: 80px 5%;
    color: white;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.sidebar .options {
    padding: 0;
    margin: 0;
}
.sidebar .options label {
    text-align: center;
    list-style: none;
    margin: 5% 0;
    padding: 3%;
    cursor: pointer;
    letter-spacing: 5px;
    border: 1px solid transparent;
    transition: all 0.2s;
}

/** hide trigger checkboxes **/
.trigger {
    display: none;
}

input[type=checkbox]#sticky-dates:checked ~ .sidebar .options label.option-sticky,
input[type=checkbox]#divider-on-each-day:checked ~ .sidebar .options label.option-divider {
    border: 1px solid currentColor;
}

.sidebar .options label {
    display: inline-block;
    width: 93.5%;
    cursor: pointer;
}
.sidebar .options label:hover {
    background: rgba(255, 255, 255, 0.29);
}

.sidebar .hint {
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 80%;
    font-size: 18px;
    font-weight: 300;
}

.sidebar .curtain {
    transition: all 0.3s;
}
input[type=checkbox]#burger-menu:checked ~ .sidebar {
    left: 0;
}
input[type=checkbox]#burger-menu:checked ~ .sidebar .curtain {
    height: 100%;
    width: 200%;
    position: absolute;
    left: 100%;
    top: 0;

    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.15),rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.15),rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15),rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
input[type=checkbox]#burger-menu:checked ~ .sidebar .curtain:hover {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1),rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1),rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-menu {
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
}
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-menu:hover {
    background: rgba(255, 255, 255, 0.35);
}
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-icon {
    background-color: transparent;
}
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-icon:before,
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-icon:after {
    top: 50%;
    background-color: white;
}
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-icon:before {
    transform: rotate(45deg);
}
input[type=checkbox]#burger-menu:checked ~ .header-container .burger-icon:after {
    transform: rotate(-45deg);
}

/** drop down menu and it's checkbox actions ( dot button ) **/
.drop-down-menu {
    position: fixed;
    top: -300px;
    right: 0;
    width: 300px;
    height: 300px;
    /*box-sizing: border-box;*/
    /*padding: 0.5% 0;*/
    background: white;
    z-index: 350;
    transition: all .3s;
}
input[type=checkbox]#dot-menu:checked ~ .drop-down-menu {
    top: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.drop-down-menu .options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.drop-down-menu .options label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1% 2%;
    cursor: pointer;
    transition: all .15s;
}
.drop-down-menu .options label:first-child {
    margin-top: 2%;
}
.drop-down-menu .options label:last-child {
    margin-bottom: 2%;
}
.drop-down-menu .options label:hover {
    background-color: rgba(33, 33, 33, 0.05);
}

.drop-down-menu ~ .curtain {
    top: -100%;
    transition: background .3s;
    background: transparent;
}
input[type=checkbox]#dot-menu:checked ~ .curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 250;
    background: rgba(33, 33, 33, 0.2);
}

/** menu buttons material-like hover animation  **/
.dot-menu,
.burger-menu {
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .15s, border .5s ease-in;
}
.dot-menu:hover,
.burger-menu:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    transition: all .15s;
}
.dot-menu:hover,
.burger-menu:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateY(-1px);
}


/** 2.2 main section - calendar **/
.main-container {
    position: relative;
    width: 100%;
}
.calendar-element {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;
    top: 17px;
    right: 57px;
    padding: 0.25em;
    cursor: default;
}
.calendar-icon {
    display: block;
    font-size: 0.6em;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0.15em solid currentColor;
    box-sizing: border-box;
    border-radius: 0.2em;
    border-top: 0.4em solid currentColor;
}
.calendar-icon:before {
    content: ' ';
    position: absolute;
    top: 0.2em;
    left: 50%;
    transform: translateX(-50%);
    width: 0.8em;
    height: 0.5em;
    border-left: 0.15em solid currentColor;
    border-right: 0.15em solid currentColor;
}

.main-container main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    margin-left: 50px;
}

.column {
    /* day_column_width = ( 100% / 7 ) = 14.28% */
    width: 14.28%;
    padding: 0 10px;
    z-index: 100;
}

.day-header {
    height: 185px;
}
.date-cover {
    height: 99px;
    box-sizing: border-box;
    padding-top: 10px;
}
.weekday {
    font-size: 16px;
    padding-left: 8px;
    font-weight: 500;
}
.date {
    font-size: 58px;
    line-height: 58px;
    padding-left: 7px;
    display: block;
}

.header-events-cover {
    height: 85px;
}
.header-events-cover span {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    display: block;
    box-sizing: border-box;
    min-height: 26px;
    margin-bottom: 2px;
    padding: 7px 0 0 9px;
    border-radius: 3px;
}
.birthdays {
    background: #33b679;
}
.birthdays.person {
    display: none;
}
.events {
    background: #029ae4;
}
span.more-events {
    color: #616161;
    cursor: pointer;
}
.more-events:hover {
    text-decoration: underline;
}

.day-body {
    position: relative;
    box-sizing: border-box;
    height: 1368px;
}
.event-cover {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background: #029ae4;
}
.important {
    background: #f05722;
}
.event-cover span {
    display: block;
}
.time {
    text-transform: uppercase;
}
.event-cover .place,
.event-cover .person-name,
.avatar {
    display: none;
}

/** events material-like hover animation  **/
.event-cover,
.events,
.birthdays {
    transition: all .15s;
    cursor: pointer;
}
.event-cover:hover,
.events:hover,
.birthdays:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transform: translateY(-1px);
}


/** 3. table background layout **/
table.back-table {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
table.back-table th {
    height: 185px;
    border-left: 1px solid #EEE;
}
table.back-table td {
    height: 28px;
    border-left: 1px solid #EEE;
}
table.back-table tbody tr:nth-child(even) td:nth-child(n+2),
table.back-table th {
    border-bottom: 1px solid #eee;
}
table.back-table tbody tr td:first-child {
    width: 49px;
    position: relative;
}
table.back-table span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -7px;
    text-transform: uppercase;
    color: #757575;
}


/** 4. round "+" button **/
.round-button-container {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 600;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.round-button-container:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.round-button-container:hover .round-btn {
    background: #e3473a;
}
.round-btn {
    background: #db4437;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.round-btn:after {
    content: "+";
    color: #fff;
    font-size: 32px;
}
.round-btn:focus {
    outline: none;
}


/** 5. media adjustments **/

/**for S size **/
@media screen and (max-width: 767px) {
    .header-container {
        top: 0;
        left: 0;
        height: 85px;
        width: 100%;
        background: #ffffff;
    }
    .header-container header {
        height: 80px;
        font-size: 28px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07), 0 6px 20px rgba(0, 0, 0, 0.12);
    }
    /** next few lines are written in a name of pixel-perfect! **/
    .month-picklist span {
        top: 1px;
    }
    .calendar-element {
        top: 20px;
        right: 74px;
    }
    .burger-menu {
        top: 18px;
        left: 15px;
        padding: 0.45em 0.33em;
    }
    .dot-menu {
        top: 17px;
        right: 13px;
    }

    .drop-down-menu {
        left: 50%;
        transform: translate(-50%);
        width: 98%;
    }

    .header-events-cover span,
    .day-body .event-cover {
        padding: 10px 15px;
        margin-bottom: 11px;
    }

    .main-container {
        position: fixed;
        top: 85px;
        left: 0;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        height: calc(100vh - 85px);
    }

    .main-container main {
        flex-direction: column;
        margin: 0;
    }

    .column {
        width: 100%;
        padding: 0;
        padding: 22px 0;
    }

    .day-header {
        height: initial;
    }

    .date-cover {
        height: 62px;
        box-sizing: border-box;
        padding-top: 0;
        width: 80px;
        float: left;
        position: relative;
    }

    .date-cover.last-day {
        color: #848484;
    }
    .date-cover.today {
        color: #357ff4;
    }

    .date {
        font-size: 42px;
        padding-left: 22px;
        line-height: 43px;
        font-weight: 400;
    }
    .weekday {
        font-size: 18px;
        position: absolute;
        bottom: 0;
        padding-left: 25px;
        font-weight: 400;
    }

    .header-events-cover {
        height: inherit;
        width: 75%;
        width: calc(100vw - 124px);
        float: right;
        /*padding: 0 22px 24px 22px;*/
        padding: 0 22px;

        position: relative;
    }

    .today ~ .header-events-cover *:last-child {
        margin-bottom: 25px;
    }

    /** divider line **/
    .today ~ .header-events-cover span:first-child:before {
        content: ' ';
        position: absolute;
        bottom: 13px;
        background: #0066f2;
        left: 5px;
        height: 1px;
        width: 93%;
        width: calc(100% - 28px);
    }
    /** divider circle **/
    .today ~ .header-events-cover span:first-child:after {
        content: ' ';
        position: absolute;
        bottom: 6px;
        background: #4285f4;
        left: 4px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }

    .events, .birthdays {
        min-height: 45px;
    }

    /** hide element but need to leave :after/:before pseudo element to make "o----------" divider **/
    .header-events-cover span.more-events {
        /*display: none;*/
        padding: 0;
        height: 0;
        color: transparent;
        background: transparent;
        width: 0;
        font-size: 0;
        line-height: 0;
        margin-top: -33px;
    }

    .important {
        background: #7bb241;
    }

    .day-body {
        height: initial;
        width: 80%;
        width: calc(100vw - 80px);
        float: right;
        padding: 0 22px;
    }

    .day-body .event-cover {
        position: relative;
        top: inherit;
        height: inherit;
    }

    .day-body .event-cover:last-child {
        margin-bottom: 0;
    }

    .header-events-cover span,
    .event-cover span {
        font-size: 20px;
        line-height: 26px;
    }

    .description, .person-name, .events {
        font-weight: 500;
    }

    .person-specific .description {
        font-weight: 300;
    }

    /** show birthday person **/
    .header-events-cover .birthdays.short {
        height: 0;
        margin-top: -28px;
        background: transparent;
        color: transparent;
    }
    .header-events-cover .birthdays.person {
        display: block;
        position: relative;
        text-transform: capitalize;
    }
    .birthdays.person:after {
        content: 'Birthday';
        display: block;
    }

    .header-events-cover .birthdays.person:before {
        content: ' ';
    }

    .header-events-cover .birthdays.person:before,
    .person-specific .avatar {
        display: block;
        height: 46px;
        width: 46px;
        background: #9E9E9E;
        border-radius: 50%;
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        background-position: center;
        background-size: cover;
    }

    .header-events-cover .birthdays.person.p-alice:before {
        background-image: url("/img/p-alice.jpg");
    }
    .header-events-cover .birthdays.person.p-bob:before {
        background-image: url("/img/p-marley.jpg");
    }
    .header-events-cover .birthdays.person.p-lorem:before {
        background-image: url("/img/p-loren.jpg");
    }
    .header-events-cover .birthdays.person.p-steve:before {
        background-image: url("/img/p-steve.jpg");
    }
    .header-events-cover .birthdays.person.p-hakon:before {
        background-image: url("/img/p-hakon.jpg");
    }

    /** special kind of events **/
    .event-cover  .place {
        display: block;
    }

    .event-cover.card {
        height: 145px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;
    }

    .crd-park {
        background-image: url("/img/c-park.jpg");
    }

    .crd-restaurant {
        background-image: url("/img/c-restaurant.jpg");
    }

    .crd-bar {
        background-image: url("/img/c-bar.jpg");
    }

    .crd-big-city {
        background-image: url("/img/c-big-city.jpg");
    }

    /** person specific (with photo) **/
    .person-specific {
        min-height: 75px;
    }

    .person-specific .person-name {
        display: block;
        text-transform: capitalize;
    }

    .pers-lucas .avatar{
        background-image: url("/img/p-lucas.jpg");
    }

    table.back-table {
        display: none;
    }

    .round-button-container {
        bottom: 22px;
        right: 22px;
    }

    /** sidebar adjustments **/
    .sidebar {
        width: 80%;
        font-size: 16px;
    }
    .sidebar .hint {
        bottom: 0;
        font-size: 16px;
    }
}

/** for XS size **/
@media screen and (max-width: 350px) {
    .burger-menu {
        left: 17px;
    }
    .month-picklist {
        left: 65px;
    }
}


/** 6. hardcode events positions and height **/
.time-9-am {
    top: 58px;
}
.time-10_30-am {
    top: 146px;
}
.time-11-am {
    top: 172px;
}
.time-12-pm {
    top: 229px;
}
.time-12_30-pm {
    top: 260px;
}
.time-1-pm {
    top: 286px;
}
.time-3-pm {
    top: 400px;
}
.time-6-pm {
    top: 571px;
}
.time-7-pm {
    top: 628px;
}

.lasts-30-min {
    height: 28px;
}
.lasts-60-min {
    height: 55px;
}
.lasts-90-min {
    height: 83px;
}
.lasts-120-min {
    height: 113px;
}
.lasts-210-min {
    height: 201px;
}
.lasts-240-min {
    height: 227px;
}
.lasts-300-min {
    height: 284px;

}

/** 7. optional bonus features **/

/** changeable by trigger in sidebar: sticky-dates **/
@media screen and (min-width: 768px) {
    #sticky-dates:checked ~ .main-container .column>.day-header {
        position: absolute;
        width: calc(14.28% - 28px);
        height: 100%;
        z-index: 200;
    }
    #sticky-dates:checked ~ .main-container .column>.day-body {
        margin-top: 185px;
        z-index: 150;
    }
    #sticky-dates:checked ~ .main-container .column>.day-header>.date-cover {
        position: sticky;
        top: -1px;
        width: 112%;
        margin-left: -8%;
        padding-left: 8%;
        background: rgba(255, 255, 255, 0.49);
    }
}
@media screen and (max-width: 767px) {
    #sticky-dates:checked ~ .main-container .column {
        position: sticky;
        top: 10px;
        background: white;
        min-height: calc(100vh - 230px);
    }
    #sticky-dates:checked ~ .main-container .column:last-child {
        min-height: calc(100vh - 140px);
    }
}

/** changeable by trigger in sidebar: divide line in all days **/
@media screen and (max-width: 767px) {

    #divider-on-each-day:checked ~ .main-container .column .header-events-cover *:last-child {
        margin-bottom: 25px;
    }

    #divider-on-each-day:checked ~ .main-container .column .header-events-cover span:first-child:before {
        content: ' ';
        position: absolute;
        bottom: 13px;
        background: #0066f2;
        left: 5px;
        height: 1px;
        width: 93%;
        width: calc(100% - 28px);
    }

    /** divider circle **/
    #divider-on-each-day:checked ~ .main-container .column .header-events-cover span:first-child:after {
        content: ' ';
        position: absolute;
        bottom: 6px;
        background: #4285f4;
        left: 4px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
}