/** 1. browser upgrade **/
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html.halt body {
    background: black;
}

/** 2. general elements positioning **/

/** N. typography **/